<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-title>{{ dish.name | uppercase }}</mat-card-title>
      <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
      <mat-card-content>{{ dish.description }}</mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <div>
      <h1>Comments</h1>
      <!-- interactively show the comment if it is valid -->
      <mat-list *ngFor="let comment of dish.comments">
        <mat-list-item>
          <p matLine>{{ comment.comment }}</p>
          <h4 matLine>{{ comment.rating }} Stars</h4>
          <h4 matLine>-- {{ comment.author }} {{ comment.date | date }}</h4>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="form-size">
      <mat-list *ngIf="commentForm.valid">
        <mat-list-item>
          <p matLine>{{ commentForm.value.comment }}</p>
          <h4 matLine>{{ commentForm.value.rating }} Stars</h4>
          <h4 matLine>-- {{ commentForm.value.author }}</h4>
        </mat-list-item>
      </mat-list>
      <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-form-field>
                <input matInput formControlName="author" type="text" placeholder="Name" required>
                <mat-error *ngIf="formErrors['author']"> {{ formErrors['author'] }} </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-slider formControlName="rating" min="1" max="5" value="5" thumbLabel tickInterval="1"></mat-slider>
        </p>
        <p>
            <mat-form-field class="full-width">
                <textarea matInput formControlName="comment" placeholder="Your Comment" rows=10 required>
                </textarea>
                <mat-error *ngIf="formErrors['comment']"> {{ formErrors['comment'] }} </mat-error>
            </mat-form-field>
        </p>
        <button type="submit" mat-button class="background-primary text-floral-white"
            [disabled]="commentForm.invalid">Submit</button>
    </form>
    </div>


    <div fxFlex *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{errMess}}</h4>
    </div>
  </div>
</div>